*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}



.main{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: "Sans Serif", Arial, sans-serif;
    
}
.main::-webkit-scrollbar{
    display: none;
}

.main h1{
    font-family: serif;
}

.page{
    width: 100vw;
    height: 100vh;
    background: #0B1D26;
    color: #fff;
    /* border: 1px solid red; */
}

.p1{
    height: 130vh;
    overflow: hidden;
    position: relative;
    z-index: -1;
    /* color: #fff; */
}

.p1 .content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom right, rgba(0,0,0,.4), rgba(0,0,0,.3), rgba(0,0,0,.2), rgba(0,0,0,.1));
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

nav{
    width: 100vw;
    padding: 5vh 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5vh;
    font-weight: 600;
}



nav ul{
    list-style: none;
    display: flex;
    gap: 1.5vw;
    
}

nav h1{
    font-size: 5vh;
}

nav button{
    display: none;
    background: transparent;
    border: none;
    color: white;
    font-size: 3vh;
    z-index: 200;
}

.sideMenu{
    /* display: none; */
    position: fixed;
    right: -60vw;
    top: 0;
    width: 60vw;
    height: 100vh;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 3vh;
    transition: .3s all;
}

.sideMenu ul{
    list-style: none;
}

.sideMenu li, .sideMenu p{
    margin: 2.5vh 1.5vh;
}

.sideMenu button{
    background: transparent;
    border: none;
    font-size: 3.5vh;
    color: white;
    margin: 2.5vh 1.5vh;
}

.content .center{
    width: 50vw;
    height: 40vh; 
    margin-top: 10vh; 
}  

.center>div{
    display: flex;
    align-items: center;
    gap: 1.5vw;
    font-weight: 600;
    letter-spacing: .4vw;
    color: #FBD784;
}

.center>div>div{
    width: 7vw;
}

.center hr{
    border: none;
    background-color: #FBD784;
    height: 1px;
}

.center h1{
    margin: 6vh 0;
    text-transform: capitalize;
    font-size: 9vh;
}

.center p{
    display: flex;
    align-items: center;
    font-weight: 700;
    /* letter-spacing: .1vw; */
}

.center p i{
    font-weight: lighter;
    font-size: 4vh;
}

section{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

section::-webkit-scrollbar{
    display: none;
}

.p1 .img{
    position: absolute;
    /* top: 0; */
    left: 0;
    width: 100%;
}

.p1 .img img{
    width: 100%;
}

.cloud{
    top: 0;
}

.mountain{
    top: 30%;
    /* transform: translateY(-50%); */
}

.man{
    top: 50%;
    z-index: 5;
}

.page{
    display: flex;
    padding: 5vh 2vw;
} 



.page .left, .page .right{
    width: 50%;
}

.page .left{
    position: relative;
    padding: 0vh 2vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    overflow: hidden;
}

.page .left .ind{
    position: absolute;
    font-size: 20vh;
    font-weight: 700;
    top: 0;
    left: 0;
    z-index: 1;
    color: #2a3e47;
}

.page .left>div{
    margin-top: 15%;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 1vw;
    color: #FBD784;
    font-size: 2vh;
    font-weight: 600;
    letter-spacing: .2vw;
}

.page .left>div>div{
    width: 6vw;
}

.left>div>div hr{
    border: none;
    height: 1px;
    background-color: #FBD784;
}

.page .left h1{
    position: relative;
    z-index: 2;
    font-size: 10vh;
    font-weight: 500;
    margin: 4vh 0;
}

.page .left p{
    width: 80%;
    font-size: 2vh;
    line-height: 5vh;
    opacity: 1;
}

.page .right{
    opacity: 1;
    padding: 2vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.right img{
    opacity: 1;
    height: 100%;
    object-fit: contain;
}

section .page:nth-child(even){
    /* background-color: white; */
    flex-direction: row-reverse;
}

footer{
    background-color: #0B1D26;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8vh 5vw;
    padding-bottom: 20vh;
}

footer div p{
    width: 60%;
    margin-top: 3vh;
}

footer div p:nth-child(3){
    margin-top: 8vh;
    color: #aaa;
}

footer div:nth-child(2){
    display: flex;
    gap: 4vw
}

footer div ul{
    list-style-type: none;
    
}

footer div ul li{
    margin-top: 2vh;
}

footer ul li:first-child{
    font-size: 3vh;
    color: #FBD784
    
}

@media (max-width: 767px) {
    nav ul, nav p{
        display: none;
    }
    nav button{
        display: initial;
    }
    nav h1{
        font-size: 3vh;
    }

    .p1 .img{
        height: 100vh;
    }

  .img img{
    height: 100%;
    object-fit: cover;
  }

  .center h1{
    font-size: 3.5vh;
  }

  .page, section .page:nth-child(even){
    display: flex;
    flex-direction: column;
  }
  .page .left, .page .right{
    width: 100%;
    height: 50%;
  }

  .page .left h1{
    font-size: 3.5vh;
  }

  .page .left .ind{
    font-size: 10vh;
  }

  .page .left p:not(:first-child){
    width: 100%;
    text-align: center;
    font-size: 1.5vh;
    line-height: 3vh;
  }
  footer{
    font-size: 1vh;
  }
}

